.images{
  width: 100%;

}

.option{
  text-align: center;
}
.option select{
  width: 70px;
}
.btn{
  height: 20px;
  background-color: brown;
  color: black;
  text-decoration: none;
  padding: 4px 4px 4px 4px;
}

.info{
  background-color: white;
  width: 50%;
  margin: auto;
  border-radius: 2px 2px;
}
